form {
    align-content: center;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
